[Desktop Entry]
Comment=Win 10 clone updated
Name=K10ne Next
X-KDE-PluginInfo-Author=Phobi4n
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=smithmark347[at]gmail[dot]com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CC BY-NC-SA
X-KDE-PluginInfo-Name=K10next
X-KDE-PluginInfo-Version=0.1.2
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0
